.card:not(a > .card),
a:has(.card) {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  min-width: 30%;
  min-height: 100px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 60ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card:not(a > .card):hover,
a:has(.card):hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.card > span {
  color: rgb(24, 24, 24);
  font-size: 1.15em;
}

.card > p {
  color: gray;
}

svg {
  color: var(--matcha);
}

@media (prefers-color-scheme: dark) {
  .card:not(a > .card),
  a:has(.card) {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .card:not(a > .card):hover,
  a:has(.card):hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .card > span {
    color: lightgray;
  }
}
